meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  Boxicons 
link(href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css", rel="stylesheet")
//  My CSS 
link(rel="stylesheet", href="/css/dashboard.css")
title Dashboard
//  SIDEBAR 
section#sidebar
  a.brand(href="#")
    span.text Banque du sang 
  ul.side-menu.top
    li.active
      a(href="#")
        i.bx.bxs-dashboard
        span.text Dashboard
    li
      a(href="#")
        i.bx.bxs-shopping-bag-alt
        span.text Page d'accueil
    li
      a(href="#")
        i.bx.bxs-doughnut-chart
        span.text Banque de sang 
    li
      a(href="#")
        i.bx.bxs-message-dots
        span.text Demmande de sang 
    li
      a(href="#")
        i.bx.bxs-group
        span.text donations
  ul.side-menu
    li
      a(href="#")
        i.bx.bxs-cog
        span.text Parametre
    li
      a.logout(href="#")
        i.bx.bxs-log-out-circle
        span.text Deconnexion
//  SIDEBAR 
//  CONTENT 
section#content
  //  NAVBAR 
  nav
    i.bx.bx-menu
    a.nav-link(href="#") Donneurs
    form(action="#")
      .form-input
        input(type="search", placeholder="Search...")
        button.search-btn(type="submit")
          i.bx.bx-search
    input#switch-mode(type="checkbox", hidden)
    label.switch-mode(for="switch-mode")
    a.notification(href="#")
      i.bx.bxs-bell
      span.num 8
    a.profile(href="#")
      img(src="img/people.png")
  //  NAVBAR 
  //  MAIN 
  main
    .head-title
      .left
        h1 Dashboard
        ul.breadcrumb
          li
            a(href="#") Dashboard
          li
            i.bx.bx-chevron-right
          li
            a.active(href="#") accueil
      a.btn-download(href="#")
        i.bx.bxs-cloud-download
        span.text Telecharger le PDF
    ul.box-info
      li
        i.bx.bxs-calendar-check
        span.text
          h3 100
          p Nouvelles demande
      li
        i.bx.bxs-group
        span.text
          h3 4
          p Donneurs
      li
        i.bx.bxs-dollar-circle
        span.text
          h3 980
          p Unite totale (ml)
    .table-data
      .order
        .head
          h3 Nouvelles demandes
          i.bx.bx-search
          i.bx.bx-filter
        table
          thead
            tr
              th Receveur
              th Date de demande
              th Forms
              th Actions
          tbody
            each receiver in receivers
              tr
                td
                  img(src="img/people.png")
                  p= receiver.userName
                td= receiver.createdAt.toLocaleDateString('fr-FR')
                td
                  if (forms)
                    //-  problem here
                    //- each form in forms.filter(form => form.receiverId === receiver.id)
                    each form in forms
                      form(action=`/admin/forms/${form.id}/details`, method='get')
                        button(type='submit' class='btn btn-primary') Voir


                        //- td= form.fullName
                        //- td= form.address
                        //- td= form.email
                        //- td= form.phoneNumber
                        //- td= form.bloodGroup
                        //- td= form.gender
                        //- td= form.quantity
                        //- td= form.status
                        //- td
                td
                  form(action=`/admin/delete-receiver/${receiver.id}`, method='post')
                    button.btn(type='submit' class='btn btn-danger') Supprimer
      //- .todo
      //-   .head
      //-     h3 Donneurs
      //-     i.bx.bx-plus
      //-     i.bx.bx-filter
    .table-data
      .order
        .head
          h3 Donors
          i.bx.bx-search
          i.bx.bx-filter
        table
          thead
            tr
              th Donor
              th Date de demande
              th Forms
              th Actions
          tbody
            each donor in donors
              tr
                td
                  img(src="img/people.png")
                  p= donor.userName
                td= donor.createdAt.toLocaleDateString('fr-FR')
                
                td
                  if (appointments)
                      each appointment in appointments
                          form(action=`/admin/appointments/${appointment.id}/details`, method='get')
                              button(type='submit' class='btn btn-primary') Voir
                td
                  form(action=`/admin/delete-donor/${donor.id}`, method='post')
                    button.btn(type='submit' class='btn btn-danger') Supprimer
  //  MAIN 
//  CONTENT 
script(src="dashboard.js")
script.
  const voirButtons = document.querySelectorAll('.voir-btn');
  voirButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
      const formId = button.dataset.formId;
      window.location.href = `/admin/forms/${formId}/details`;
    });
  });