meta(charset="UTF-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
//  Boxicons 
link(href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css", rel="stylesheet")
//  My CSS 
link(rel="stylesheet", href="/css/dashboard.css")
title Dashboard
//  SIDEBAR 
section#sidebar
  a.brand(href="#")
    span.text SaveARed 
  ul.side-menu.top
    li.active
      a(href="/admin/dashboard")
        i.bx.bxs-dashboard
        span.text Dashboard
    li
      a(href="/admin/blood-bank")
        i.bx.bxs-doughnut-chart
        span.text Stock du sang 
  ul.side-menu
    li
      a(href="/admin/profile")
        i.bx.bxs-cog
        span.text Profile
    li
      a.logout(href="/admin/login")
        i.bx.bxs-log-out-circle
        span.text logout
//  SIDEBAR 
//  CONTENT 
section#content
  //  NAVBAR 
  nav
    i.bx.bx-menu
    //- a.nav-link(href="#") donors
    form(action="#")
      .form-input
        input(type="search", placeholder="Search...")
        button.search-btn(type="submit")
          i.bx.bx-search
    input#switch-mode(type="checkbox", hidden)
    label.switch-mode(for="switch-mode")
    a.notification(href="#")
      i.bx.bxs-bell
      span.num 8
    a.profile(href="#")
      img(src="../images/adming.svg")
  //  NAVBAR 
  //  MAIN 
  main
    .head-title
      .left
        h1 Dashboard
        ul.breadcrumb
          li
            a(href="#") Dashboard
          li
            i.bx.bx-chevron-right
          li
            a.active(href="#") home
      a.btn-download(href="#")
        i.bx.bxs-cloud-download
        span.text download PDF
    ul.box-info
      li
        i.bx.bxs-calendar-check
        span.text
          h3 100
          p appointment
      li
        i.bx.bxs-group
        span.text
          h3 4
          p Donors
      li
        i.bx.bxs-dollar-circle
        span.text
          h3 980
          p Total unit (ml)
    .table-data
      .order
        .head
          h3 Reciever
          i.bx.bx-search
          i.bx.bx-filter
        table
          thead
            tr
              th Reciever
              th Date of request
              th Actions
          tbody
            each receiver in receivers
              tr
                td
                  img(src="../images/girl.svg")
                  p= receiver.userName
                td= receiver.createdAt.toLocaleDateString('fr-FR')
                td
                  form(action=`/admin/delete-receiver/${receiver.id}`, method='post')
                    button.btn(type='submit' class='btn btn-danger') Supprimer
    .table-data
      .order
        .head
          h3  requests
          i.bx.bx-search
          i.bx.bx-filter
        table
          thead
            tr
              th Forms
          tbody
              tr
                td
                  if (forms)
                    //-  problem here
                    //- each form in forms.filter(form => form.receiverId === receiver.id)
                    each form in forms
                      form(action=`/admin/forms/${form.id}/details`, method='get')
                        button.btn(type='submit' class='btn btn-primary') Voir
      //- .todo
      //-   .head
      //-     h3 Donneurs
      //-     i.bx.bx-plus
      //-     i.bx.bx-filter
    .table-data
      .order
        .head
          h3 Donors
          i.bx.bx-search
          i.bx.bx-filter
        table
          thead
            tr
              th Donor
              th Date of request
              th Actions
          tbody
            each donor in donors
              tr
                td
                  img(src="../images/girl.svg")
                  p= donor.userName
                td= donor.createdAt.toLocaleDateString('fr-FR')
                
                td
                  form(action=`/admin/delete-donor/${donor.id}`, method='post')
                    button.btn(type='submit' class='btn btn-danger') Supprimer
    .table-data
      .order
        .head
          h3  appointments
          i.bx.bx-search
          i.bx.bx-filter
        table
          thead
            tr
              th appointments
          tbody
              tr
                td
                  if (appointments)
                    each appointment in appointments
                      form(action=`/admin/appointments/${appointment.id}/details`, method='get')
                        button(type='submit' class='btn btn-primary') Voir

  //  MAIN 
//  CONTENT 
script(src="../js/dashboard.js")
script.
  const voirButtons = document.querySelectorAll('.voir-btn');
  voirButtons.forEach((button) => {
    button.addEventListener('click', (event) => {
      const formId = button.dataset.formId;
      window.location.href = `/admin/forms/${formId}/details`;
    });
  });